.mywidget_card_container {
    width: 100% !important;
}
.container_text {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: start;
	margin: 2em 0;
}

.mywidget_card {
	border: 1px solid black;
	padding: 1rem;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	border-radius: 30px;
	transform-origin: center;
	transform-style: preserve-3d; /* Important for 3D effect */
	perspective: 1000px; /* Add perspective to enhance 3D effect */
}
.mywidget-card-front img {
	width: 100%;
	margin-bottom: 1rem;
	border-radius: 20px; /* Rounded corners for the image */
}
.mywidget_img_wrapper {
	position: relative;
}
.mywidget-read-more {
	text-decoration: none;
	color: white;
    margin-top: 7px;
}
.mywidget_card.mywidget-card-front:hover {
    scale: 1.05;
}

.mywidget_round_wrapper {
	width: 60px;
	height: 60px;
	background-color: rgb(23, 46, 46);
	border-radius: 100%;
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mywidget_btn {
	position: absolute;
	bottom: 0em;
	right: 0rem;
	width: 5rem;
	height: 5rem;
	background: white;
	border-top-left-radius: 50%;
}

.mywidget_btn::before {
	position: absolute;
	content: "";
	bottom: 1.3rem;
	left: -1.22rem;
	background: transparent;
	width: 1.25rem;
	height: 1.25rem;
	border-bottom-right-radius: 1.25rem;
	box-shadow: 0.313rem 0.313rem 0 0.313rem #fff;
}

.mywidget_btn::after {
	position: absolute;
	content: "";
	top: -1.25rem;
	right: -0.06rem;
	background: transparent;
	width: 1.25rem;
	height: 1.25rem;
	border-bottom-right-radius: 1.25rem;
	box-shadow: 0.313rem 0.313rem 0 0.313rem white;
}

.mywidget-card-front {
	background-color: white;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden; /* Hide the front face when it is flipped */
    min-height: 450px !important;
	transition: .2s all ease-in-out;
}

.mywidget_card_container {
	position: relative;
	width: 300px;
	height: 100%;
}

.card-slider{
	direction: rtl !important;
}

.card-slide {
    border-radius: 25px;
	overflow: hidden;
}

.first-sec {
    display: flex;
    align-items: space-evenly;
    justify-content: space-evenly;
	padding: 10px;
}

span.rate-star svg {
    width: 20px;
    height: 20px;
}

.first-sec-img img {
    width: 100px;
    border-radius: 22px !important;
    height: 100px;
    object-fit: cover;
}

.first-sec-info {
    display: flex;
    flex-direction: column;
	justify-content: space-around;
}
span.rate-number {
    font-size: .9rem !important;
}

span.rate-number span {
    color: #80808063;
}

.first-sec-info-rate {
    display: flex;
    align-items: center;
    gap: 10px;
}


.secound-sec-separator {
	position: relative;
	margin:25px 0;
	border:1px dashed #e1e1e1;
	width: 100% !important;
	&:before,
	&:after {
		content: '';
		height: 50px;
		width: 50px;
		background-color: white !important;
		position: absolute;
		border-radius: 50%;
	}
	
    &:before {
        top: -25px;
        right: -25px;
        z-index: 10 !important;
        border: 1px solid #e1e1e1;
    }
	&:after {
		top: -25px;
		left: -25px;
		border: 1px solid #e1e1e1;

	}
}
.secound-sec {
    background: white;
    border: 1px solid #e1e1e1;
    border-radius: 25px;
	padding: 25px 0;
}

.secound-sec-timer {
    padding: 10px;
    display: flex;
	justify-content: space-evenly;
}

.secound-sec-btn {
    display: flex;
    justify-content: center;
}

.secound-sec-btn button {
    font-size: 1rem;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
	width: 80%;
    cursor: pointer !important;
	transition: .3s ease;
    font-weight: bold;
}

.secound-sec-btn button:disabled {
    background-color: #ccc;  
    color: #666;              
    cursor: not-allowed !important;      
    opacity: 0.7;              
    pointer-events: none;      
}


.secound-sec-timer-count-icon svg {
    width: 20px;
    height: 20px;
}

.secound-sec-timer-count {
    display: flex;
    gap: 10px;
    align-content: center;
}

.secound-sec-timer-separator {
    width: 2px;
    background: #8080806b;
}

.secound-sec-btn button:hover {
    background: #dc3545 !important;
    box-shadow: 0px 3px 6px #dc3545;
    color: white;
}
